<!DOCTYPE html>
<html lang="en">

  <head>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,400,900' rel='stylesheet' type='text/css'>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>Fred's Task Manager</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/cover.css" rel="stylesheet">
    <link href="/application.css" rel="stylesheet">

  </head>

  <body>



    <div class="site-wrapper">

      <!-- <img src="/img/clyde-beatty-lion-tamer.jpg" > -->

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">
                <a href="/">Task Manager</a>
              </h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="/tasks">ALL TASKS</a></li>
                  <li><a href="/tasks/new">NEW TASK</a></li>
                </ul>
              </nav>
            </div>
          </div>


          <div class="container">
            <%= yield %>
          </div>


          <div class="mastfoot">
            <div class="inner">
              <p>
                by Fred Block<br>
              </p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


  </body>
</html>
