<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="stylesheet" href="/application.css" >
    <title>Fred's Task Manager</title>
  </head>

  <body>

    <div class="container">
      <%= yield %>

      <footer>
        <p>
          made by Fred Block<br>

        </p>
      </footer>

    </div>



  </body>
</html>
